/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes pulse-opacity {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.animate-pulse-opacity {
    animation: pulse-opacity 1.5s ease-in-out infinite;
}